* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.btn {
  background: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
  border-radius: 6px;
}
